body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00b7ff;
}

input,
button {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  width: calc(200px - 22px);
}

input:not([type="button"]) {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
