doctype html
html
  head
    title The Map Game
    link(rel='stylesheet', href='/css/game.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    canvas#whiteboard
    canvas#map
    img#map-img.hidden
    nav
        tab Map
        tab Whiteboard
        tab Notes
    side
        content#info
            span Players online: ###
            span#info_title Nothing Selected
            table
                tr.info_data
                    td Owner:
                    td#info_owner No One
                tr.info_data
                    td Population:
                    td#info_population 0
                tr.info_data
                    td Military:
                    td#info_military 0
                tr.info_data
                    td Food Production:
                    td#info_food 0
        content(style="overflow-y: unset;")#edit
            span Whiteboard
            item(onclick="game.whiteboard.toggleTool('pen')" tooltip="Draw")#pen-wb
                i.material-icons create
            item(onclick="game.whiteboard.toggleTool('text')" tooltip="Text")#text-wb
                i.material-icons title
            item(onclick="game.whiteboard.toggleTool('fill')" tooltip="Fill")#fill-wb
                i.material-icons format_color_fill
            colors#colors-wb-container.hidden
                color(style="background-color: #fff; border: 1px solid #cfcfcf; width: 22px; height: 22px;" onclick="game.whiteboard.toggleColor('fff')")#fff-btn
                color(style="background-color: #777" onclick="game.whiteboard.toggleColor('777')")#777-btn.checked
                color(style="background-color: #e00" onclick="game.whiteboard.toggleColor('e00')")#e00-btn
                color(style="background-color: #800" onclick="game.whiteboard.toggleColor('800')")#800-btn
                color(style="background-color: #630" onclick="game.whiteboard.toggleColor('630')")#630-btn
                color(style="background-color: #e80" onclick="game.whiteboard.toggleColor('e80')")#e80-btn
                color(style="background-color: #ee0" onclick="game.whiteboard.toggleColor('ee0')")#ee0-btn
                color(style="background-color: #0c0" onclick="game.whiteboard.toggleColor('0c0')")#0c0-btn
                color(style="background-color: #393" onclick="game.whiteboard.toggleColor('393')")#393-btn
                color(style="background-color: #0cf" onclick="game.whiteboard.toggleColor('0cf')")#0cf-btn
                color(style="background-color: #06f" onclick="game.whiteboard.toggleColor('06f')")#06f-btn
                color(style="background-color: #90e" onclick="game.whiteboard.toggleColor('90e')")#90e-btn
                color(style="background-color: #f6c" onclick="game.whiteboard.toggleColor('f6c')")#f6c-btn
                form(style="display: inline-block; width: 100%; position: relative;" oninput="x.value=parseInt(a.value)")
                    input(name="a" style="display: inline-block; margin: 8px 4px 8px 4px; width: calc(100% - 60px); vertical-align: middle;" tooltip="Tolerance" type="range" max=200 min=1 step=1 value=100)#tolerance-wb.slider
                    output(id="x" for="tolerance-map" style="display: inline-block; width: 40px; height: 24px; vertical-align: middle;text-align: center;line-height: 24px;" value=100) 100
            span(style="border-bottom: 0;")#textbox-wb-container.hidden
                input(style="display: block; padding: 6px; margin: 2px auto; width: calc(100% - 32px); font-size: 14px;" placeholder="text here!")#textbox-wb
            span Map
            item(onclick="game.map.toggleTool('pen')" tooltip="Draw")#pen-map
                i.material-icons create
            item(onclick="game.map.toggleTool('text')" tooltip="Text")#text-map
                i.material-icons title
            item(onclick="game.map.toggleTool('fill')" tooltip="Fill")#fill-map
                i.material-icons format_color_fill
            item(onclick="game.map.toggleTool('save')" tooltip="Save Map")#save-map
                i.material-icons save
            item(onclick="game.map.toggleTool('clear')" tooltip="Clear Map")#clear-map
                i.material-icons restore
            item(onclick="game.map.toggleTool('refresh')" tooltip="Refresh Map")#refresh-map
                i.material-icons refresh
            colors#colors-map-container.hidden
                color(style="background-color: #fff; border: 1px solid #cfcfcf;" onclick="game.map.toggleColor('fff')")#fff-map
                color(style="background-color: #777" onclick="game.map.toggleColor('777')")#777-map.checked
                color(style="background-color: #e00" onclick="game.map.toggleColor('e00')")#e00-map
                color(style="background-color: #800" onclick="game.map.toggleColor('800')")#800-map
                color(style="background-color: #630" onclick="game.map.toggleColor('630')")#630-map
                color(style="background-color: #e80" onclick="game.map.toggleColor('e80')")#e80-map
                color(style="background-color: #ee0" onclick="game.map.toggleColor('ee0')")#ee0-map
                color(style="background-color: #0c0" onclick="game.map.toggleColor('0c0')")#0c0-map
                color(style="background-color: #393" onclick="game.map.toggleColor('393')")#393-map
                color(style="background-color: #0cf" onclick="game.map.toggleColor('0cf')")#0cf-map
                color(style="background-color: #06f" onclick="game.map.toggleColor('06f')")#06f-map
                color(style="background-color: #90e" onclick="game.map.toggleColor('90e')")#90e-map
                color(style="background-color: #f6c" onclick="game.map.toggleColor('f6c')")#f6c-map
                form(style="display: inline-block; width: 100%; position: relative;" oninput="x.value=parseInt(a.value)")
                    input(name="a" tooltip="Tolerance" type="range" max=200 min=1 step=1 value=100)#tolerance-map.slider
                    output(id="x" for="tolerance-map" style="display: inline-block; width: 40px; height: 24px; vertical-align: middle;text-align: center;line-height: 24px;" value=100) 100
                form(style="display: inline-block; width: 100%; position: relative;" oninput="y.value=parseInt(a.value)")
                    input(name="a" tooltip="Opacity" type="range" max=100 min=10 step=5 value=100)#opacity-map.slider
                    output(id="y" for="opacity-map" style="display: inline-block; width: 40px; height: 24px; vertical-align: middle;text-align: center;line-height: 24px;" value=100) 100
            span(style="border-bottom: 0;")#textbox-map-container.hidden
                input(style="display: block; padding: 6px; margin: 2px auto; width: calc(100% - 32px); font-size: 14px;" placeholder="text here!")#textbox-map
            hr
        nav
            item(onclick="game.side.toggle('info');" tooltip="Map Info")#info-btn
                i.material-icons info
            item(onclick="game.side.toggle('edit')" tooltip="Edit Tools")#edit-btn
                i.material-icons edit
            item( tooltip="Chat")#chat-btn
                i.material-icons chat_bubble_outline
            item( tooltip="Turn")#turn-btn
                i.material-icons rotate_left
            item( tooltip="Settings")#settings-btn
                i.material-icons settings
            item( tooltip="Players")#players-btn
                i.material-icons supervisor_account
            item( tooltip="Exit")#exit-btn
                i.material-icons exit_to_app
    script(src="/js/socket.io.slim.js")
    script(src="/js/engine.js")